<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-content-center">
  <%= render "shared/flash" %>
  
  <div class="box is-flex is-flex-direction-column is-justify-content-center is-align-content-center">
    <div class="container">
      <%= link_to "Flickr", root_path, class: "is-size-1 has-text-black" %>
      <%= form_with url: root_path, method: :get do |f|  %>
        <%= f.label :id, "Flickr ID:" %>
        <%= f.text_field :id %>
        <%= f.submit "Search Images" %>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="tile">
    <% unless @photos.nil? %>
      <% @photos.each do |photo| %>
        <img src="<%= "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}_q.jpg" %>">
      <% end %>
    <% end %>
  </div>
</div>

<%# 196511124@N08 %>


